* {
  /* font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  margin : 0;
  padding : 0;
}

.BBB{
  background-color: #c9e0d7;
}

/* moving text */
.header {
  background: #8ececa;
  width: auto;
  height: 10%;
  padding: 40px 0;
}

#animasi-header {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 4em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #c9e0d7, #feb63c, #f2deaf );
  background-repeat: no-repeat;
  background-size: 80%;
  animation: exam 7.2s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(50, 128, 135, 0);
}
/* end of moving text */

/* animasi iphone13 */

.bgwrap{
  
  background-color: #F0EBE3;
  height:auto;
  border: 2px solid #F0EBE3;
  width: auto;
}


.blockbackground{
  /* border: 2px solid black; */

  margin: 20em 250px 12em 250px;
  border-radius:50px;
  display: flex;
  background: white;
  width: auto;
  height: 655px;
  position: relative;
}
#header-border{
  border-radius: 50px;
}

.centertext{
  position: absolute;
  left: 39%;
  bottom: 40%;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.firsttext{
  font-size: x-large;
  color: #8ececa;
  font-weight:800;
  text-align: center;
  -webkit-transition: color 1s ease-in-out;
  -moz-transition: color 1s ease-in-out;
  -o-transition: color 1s ease-in-out;
  transition: color 1s ease-in-out;
}

.firsttext:hover{
  color: #7D9D9C;
  cursor: pointer;
  font-weight:800;
  -webkit-transition: color 1s ease-in-out;
  -moz-transition: color 1s ease-in-out;
  -o-transition: color 1s ease-in-out;
  transition: color 1s ease-in-out;
}

.animate {
  background:  #F0EBE3;
  margin-top: 10%;
  -webkit-transition: background 1s ease-in-out;
  -moz-transition: background 1s ease-in-out;
  -o-transition: background 1s ease-in-out;
  transition: background 1s ease-in-out;
}

.animate:hover {
  background: #7D9D9C;
  -webkit-transition: background 1.5s ease-in-out;
  -moz-transition: background 1.5s ease-in-out;
  -o-transition: background 1.5s ease-in-out;
  transition: background 1.5s ease-in-out;
}

.animate:hover {
  background: #576F72;
  -webkit-transition: background 1s ease-in-out ;
  -moz-transition: background 1s ease-in-out ;
  -o-transition: background 1s ease-in-out ;
  transition: background 1s ease-in-out ;
}

/* end of animasi iphone13 */


/* BAGIAN 2 */


#nama-produk {
  font-size: 2.4em ;
  font-weight: bolder;
  padding-top: 16px;
  padding-left: 31px;
  color: #F0EBE3;
  text-shadow: 2px 2px 3px black;
}

#isi{
  width: 90%;
  font-size: 2em;
  margin-top: 42px;
  margin-left: 35px;
  margin-right: 18em;
  text-indent: 45px;
  text-align: justify;
  border-bottom: 4px dotted black;
}

#produk-text{
  text-align: justify;
  font-size: 26px;
  padding: 25px 250px 75px 25px;
  font-weight: bolder;
  /* padding-right:12em; */
}

.outterbg{
  border: 2px solid #8ececa ;
  background-color: #8ececa ;
  padding: 12em;


}

#homepage{
  text-shadow: 2px 2px 3px #c9e0d7;
margin-top:14em;
}

.container-card{
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  border-radius: 4%;
  margin: 5% 0 5% 0;
  padding: 5% 5% 5 5%;
}

.container-2{

  height: 700px;
  display: block;
  justify-content: left;
  margin: 5% 0 5% 2%;
  padding: 0 0% 15% 0%;
  border-radius: 50px;
}

.wrapper-card{
  width: auto;
  height: 50%;
  background-color: #f2deaf ;
  display: block;
  padding:40px;
  border-radius: 45px;
}



/* part foto di samping text dan text di bawah foto */
.foto1{
  width:150px;
  margin: 30px 0 0px 20px;
  border-radius: 20px;
  height:max-content;
  display: flex;
  align-self: auto;
}

.foto2{
  width:200px;
  margin: 25px 0 0px 50px;
  border-radius: 20px;
  height:max-content;
  display:block;
  border: 5px double black;

}

.features1 {
  clear: both;
  float: right;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  /* width: 150px; */
}

.features2{
  vertical-align: top;
  display: inline-block;
  text-align: left;
  width: 150px;
  margin-left:50px;
}

.features2-text{
  vertical-align: top;
  display: inline-block;
  text-align: left;
  width: 150px;
  margin-left:50px;
}

.caption {
  /* border: 2px solid black; */
  display: block;
  font-size: 1rem;
  margin-top: 5px;
  margin-left :1em;
  font-weight: 550;
  font-style: italic;
  text-align:center;
}


.textfoto-container{
  
  display:block;
  text-align:justify;
  font-size:18px;

}

.textfoto-content{
  display:inline-flex;
  width: 90%;
  margin-left :5em;
  margin-top:2.5em;
  margin-bottom: 2.5em;
  text-indent: 30px;
  text-align:justify;
}

.textfoto-text{
  display:inline-block;
  margin-left :1em;
  margin-top:2.5em;
  margin-bottom: 2.5em;
  text-indent: 30px;
  text-align:justify;
}

/* end of part */

/* bagian bawah web */
.container-footer {
  background-color: #c9e0d7;
  color: #F0EBE3;
  width: auto;
  max-height: 20%;
  margin-top:20em;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrapper-footer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: flex-start;
  padding-top: 60px;
  margin-top:6em;
}

.wrapper-help{
  display: flex;
  flex-direction: column;
}

.wrapper-help label {
  color: grey;
}

.wrapper-help input{
  width: 400px;
  padding: 5px;
  display: flex;
}

.wrapper-help input[type="text"], input[type="email"], input[type="textarea"]{
  border: none;
  outline: none;
  border-radius: 10px;
}


.wrapper-help textarea{
  width: 409px;
  border-radius: 10px;
}


.wrapper-help input[type = "submit"]{
  display: flex;
  cursor: pointer;
  width: 75px;
  margin: 25px 160px;
  border-radius: 5px;
  background-color: rgb(107, 178, 237);
  height: 35px;
  transition: background-color 0.5s ease-in-out;
}

.wrapper-help input[type = "submit"]:hover{
  background-color: #F0EBE3;
  transition: .5s ease-in-out;
  box-shadow: 0 5px 8px grey;
}

.tema{
  text-transform:capitalize ;
  text-align: center;
  text-shadow: 2px 2px 3px black;
  

}

#copyright {
  text-align: center;
  background-color: black; 
}

.bottom {
  margin-bottom: none;
  margin-block-end: auto;
  color:#F0EBE3
}

.wrapper-contactUs{
  width: auto;
  margin-top: 50%;
}


.contactUs{
  display: flex;
  width: auto;
  height: auto;
}

.contactUs li {
  list-style-type: none;
  padding: 40px;
  width: 300;
  height: 300;
}


#tema-contact{
  text-transform:capitalize ;
}

.sm{
  width: 50%;
}


/* BATAS FOOTER JEFRI */

/* end of bagian bawah web */


@keyframes exam {
  0% {
      background-position: -500%;
  }
  100% {
      background-position: 500%;
  }
}
